@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './bootstrap/bootstrap';
$font-primary:'Roboto',
sans-serif;
$font-secundary: 'Montserrat',
sans-serif;
$primary-color: #0088C2;
body {
    font-family: $font-secundary !important;
}

//Nombre de la web
.descripcion {
    background-color: black;
    .container {
        padding-top: 9px;
        padding-bottom: 1px;
    }
    p {
        text-align: center;
        color: white;
        font-family: auto;
        justify-content: center;
    }
}

// NAVBAR
.navbar {
    font-family: $font-primary !important;
    background-color: $primary-color !important;
    // Tamaño del logo
    .navbar-brand {
        max-width: 80px;
        max-height: 80px;
        text-align: center;
    }
    .navbar-collapse {
        justify-content: center;
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-right: auto;
            font-size: larger;
        }
    }
}

// mobil
@media (max-width: 700px) {
    .descripcion {
        p {
            font-size: smaller;
        }
    }
}