@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './bootstrap/bootstrap';
$font-primary:'Roboto',
sans-serif;
$font-secundary: 'Montserrat',
sans-serif;
$primary-color: #0088C2;
body {
    font-family: $font-secundary !important;
}

//Nombre de la web
.descripcion {
    background-color: black;
    .container {
        padding-top: 9px;
        padding-bottom: 1px;
    }
    p {
        text-align: center;
        color: white;
        font-family: auto;
        justify-content: center;
    }
}

// NAVBAR
.navbar {
    font-family: $font-primary !important;
    background-color: $primary-color !important;
    // Tamaño del logo
    .navbar-brand {
        max-width: 80px;
        max-height: 80px;
        text-align: center;
    }
    .navbar-collapse {
        justify-content: center;
        a.nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            margin-right: auto;
            font-size: larger;
            position: relative;
        }
        .nav-item.active {
            a.nav-link::before {
                content: "";
                position: absolute;
                top: -4px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                width: 8px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid black;
            }
        }
    }
}

// profile_detail
.profile_detail {
    .card {
        .card-body {
            min-height: 200px;
            margin-right: auto !important;
            margin-left: auto !important;
            padding: 0px !important;
            p.card-text {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        h5.card-title {
            text-align: center;
            font-weight: bold;
        }
    }
}

// mobil
@media (max-width: 700px) {
    .descripcion {
        p {
            font-size: smaller;
        }
    }
}

@import 'alexa-style.scss';