{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-white" id="cabecera">
    
    <a class="navbar-brand" href="#"> <img src="{% static 'base/img/openCV.png' %}" class="img-fluid logo"/></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav  mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Sobre mi <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Experiencia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Formación</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>

    </div>
</nav>