<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portada</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="./fontawesome/css/all.css" rel="stylesheet">
    <script defer src="./fontawesome/js/all.js"></script>
    <link rel="stylesheet" href="prueba2.css">
</head>

<body>
    <header class="background">
        <nav>
            <a href="#"><img src="./openCV.png" class="logo"></a>
                <ul>
                    <li>
                        <a class="nav-link active" href="#">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Registrame gratis</a>
                    </li>

                </ul>
        </nav>

        <div class="description">
                <h1>crea un CV que impresione a los reclutadores</h1>
                <p class="jumbotron content-mini">Hazlo en unos minutos con nuestros modelos profesionales de CV y carta de presentación. Obtendrás un 70% más de entrevistas. Más de 5 millones de usuarios ya han encontrado el trabajo que soñaban.</p>
                <div id="buttons">
                    <p class="mx-2"><a href="#" class="py-2 px-1 btn"><i class="fab fa-google"></i> DJANGO CV GO</a></p>
                    <p class="mx-2 "><a href="#" class="py-2 px-1 btn jum"><i class="fas fa-address-card"></i> CREAR YA MI CV</a></p>
                <div>
        </div>

    </header>
    <div>
        <div id="modelo">
                <div class="primer">
                    <div>
                        <p class="title"> Sodelos diseñados por expertos</p>
                        <span>Solo el 3% de los CVs captan el interés del reclutador.<span>
                        <p class="title">Creador de cartas de presentación</p>
                        <span>Redacta tu carta de presentación con ejemplos inspiradores.<span>
                    </div>
                    <div>
                        <i class="fas fa-trophy icon"></i>
                        <i class="fas fa-file icon"></i>
                    </div>
                </div>


                <div class="">
                    <img class="example" src="./CV-ES-min.png">
                </div>

                <div class="segon">
                    <div>
                        <i class="fas fa-search icon"></i>
                        <i class="fas fa-book-open icon"></i>
                    </div>
                    <div>
                        <p class="title">Buscador de empleo</p>
                        <span>Encuentra rápidamente posiciones que te encajan.<span>
                        <p class="title">Consejos paso a paso</p>
                        <span>Utiliza nuestros ejemplos de la vida real para alcanzar la perfección.<span>
                    </div>
                </div>
        </div>

    </div>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>-->
</body>

</html>