@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* generic exemple */

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid.my-0.mx-0 {
    padding: 0 !important;
}

li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    color: #69F0C5 !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}


/* Navbar */

nav.navbar.navbar-expand-lg {
    padding-left: 500px;
    padding-right: 500px;
    background: #526CEA !important;
    min-height: auto;
    box-shadow: 0 0 4px 0 #3751CE, 0 4px 4px 0 rgba(63, 91, 212, 0.39) !important;
    -webkit-transition: .2s all !important;
    transition: .2s all !important;
}

img.img-fluid.logo {
    max-width: 90px;
    max-height: 90px;
}


/* Fin de navbar */


/*description*/

.description {
    background: linear-gradient(45deg, #5C56F2 0%, #3C95D6 100%) !important;
}

.container-fluid.my-0.mx-0 {
    background: url("./bg-gradient-top.svg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

h1.text-white.text-uppercase.jumbotron {
    background: transparent;
    font-weight: 900 !important;
    text-align: center;
    margin-bottom: -90px !important;
}

.content-mini {
    background: transparent;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-left: 250px;
    margin-right: 250px;
}

a.py-2.px-1.btn {
    background-color: #ffffff;
    border-radius: 100px;
    color: #6E6C78;
    padding: 25px !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1px;
}

.jum {
    background-color: #69F0C5 !important;
    color: #11694D !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

p.mx-2 {
    margin-top: -20px !important;
}

svg.svg-inline--fa.fa-address-card.fa-w-18,
svg.svg-inline--fa.fa-google.fa-w-16 {
    margin-left: -20px !important;
    position: absolute !important;
}


/* fin description */


/* inicio de resumen */


/* fin del resumen */